@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Font definition */
  --font-sans: 'Montserrat', sans-serif;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  /* Use Montserrat as the default font */
}

.walk-forward {
  animation: walk-forward 8s linear forwards;
}

@keyframes walk-forward {
  0% {
    transform: translate(0, 0)
  }

  100% {
    transform: translate(0px, 80px)
  }
}

.walk-right {
  animation: walk-forward 5s linear forwards;
}

@keyframes walk-forward {
  0% {
    transform: translate(0, 0)
  }

  100% {
    transform: translate(50px, 0px)
  }
}